{% extends 'Client/Layouts/layouts.twig' %}

{% block title %}Upload{% endblock %}

{% block content %}
<!-- Main Content -->
<div id="main-kerja" class="container-fluid">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Upload
                    <small>Barang Ditemukan</small>
                </h1>
            </div>
        </div>

        <div class="row thumbnail">
            <div id="upload-content" class="col-md-12">
                <p>&nbsp;</p>
                <div id="info-kiri" class="col-md-2">

                </div>
                <div id="upload-kanan" class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Keterangan</h3>
                            <form action="" method="post" name="Keterangan" id="keterangan" enctype="multipart/form-data">
                                <div class="col-xs-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Nama Depan</label>
                                            <input type="text" class="form-control" id="first-name" name="first-name" value="{{ data.firstName }}" disabled>
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{ data.email }}" disabled>
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Facebook</label>
                                            <input type="text" class="form-control" id="facebook" name="facebook">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Nama Belakang</label>
                                            <input type="text" class="form-control" id="last-name" name="last-name" value="{% if (data.lastName is not null) %}{{ data.lastName }}{% endif %}" disabled>
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>No Telepon</label>
                                            <input type="tel" class="form-control" id="phone" name="phone" value="{{ data.phone }}" disabled>
                                        </div>
                                    </div>

                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Pin BBM</label>
                                            <input type="text" class="form-control" id="bbm" name="bbm">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <select name="category" class="form-control">
                                            <option>Dompet</option>
                                            <option>Motor</option>
                                            <option>Tas</option>
                                        </select>
                                    </div>
                                    {#<div class="form-group file-preview">#}
                                        {#<label for="images">Unggah Gambar</label>#}
                                        {#<output id="list" class="hide"></output>#}
                                    {#</div>#}
                                    {#<div class="form-group file-area">#}
                                        {#<input type="file" name="images1" id="images1" required="required"/>#}

                                        {#<div class="file-dummy">#}
                                            {#<div class="success">Gambar sudah diproses, silahkan tambahkan lebih banyak gambar.</div>#}
                                            {#<div class="default">Pilih gambar atau Tarik gambar ke kotak ini.</div>#}
                                        {#</div>#}


                                    {#</div>#}
                                    <div class="form-group">
                                        <label>Unggah Foto</label>
                                        <div class="pic-wrap">
                                            {#<div class="pic-inner">#}
                                                {#<img src="{{ app.request.basepath }}/assets/images/picture.svg" class="pic-preview">#}
                                                {#<label>#}

                                                    {#<input class="hide" type="file" name="pic-upload[]">#}
                                                {#</label>#}
                                            {#</div>#}
                                            <div class="pic-preview">
                                                <img class="img-preview" src="{{ app.request.basepath }}/assets/images/img-test.jpg">
                                            </div>
                                            <div class="pic-inner">
                                                <img src="{{ app.request.basepath }}/assets/images/picture.svg" class="pic-preview img-responsive hide">
                                                <label>
                                                    <i class="fa fa-2x fa-plus">

                                                    </i>
                                                    <input type="file" class="hide" name="image" id="image" onchange="readURL(this)"></label>
                                            </div>
                                            <div class="pic-inner hide">
                                                <img src="{{ app.request.basepath }}/assets/images/picture.svg" class="pic-preview img-responsive hide">
                                                <label>
                                                    <i class="fa fa-2x fa-plus">

                                                    </i>
                                                    <input type="file" class="hide" name="image" id="image" onchange="readURL(this)"></label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <small>NB: Untuk menghapus gambar silahkan klik pada gambar yang ingin di hapus.</small>
                                    </div>
                                    <div class="form-group">
                                        <img src="">
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Alamat</label>
                                            <textarea rows="5" cols="100" class="form-control" name="address" style="resize:vertical" disabled>{{ data.address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Deskripsi</label>
                                            <textarea rows="8" cols="100" class="form-control" name="description" style="resize:vertical" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-block btn-primary pull-right">Publish</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">&nbsp;</div>

                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var _thumb = $(input).parent().find('img');
                if (!_thumb.length) {
                    _thumb = $(input).parent().prev().find('img.img-responsive');
                }
                if (_thumb.length) {
                    var reader = new FileReader();
                    var height = _thumb.attr('height') || _thumb.height();
                    reader.onload = function (e) {
                        _thumb
                                .attr('src', e.target.result)
                                .width(height)
                                .css('object-fit', 'cover')
                                .height(height)
                                .removeClass('hide')
                        ;
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        $(document).ready(function() {
//           $("[id^='images']").change(function() {
//                $('output#list').removeClass('hide');
////               if ($('output').find('span').length == 3) {
////                   $('.file-area').addClass('hide');
////               }
//               var len = $(this).attr('name').length;
//               var num = $(this).attr('name').substring(len - 1, len);
//               var nump = num + 1;
//               $(this).clone().appendTo('.file-area').prop('id', 'images' + nump);
//
//           });
        });
//        var input = document.getElementById('images1');

//        input.value = '';
//            var reader;
//            var progress = document.querySelector('.percent');
//
//            function handleFileSelect(evt) {
//
//                var files = evt.target.files; // FileList object
//
//                // Loop through the FileList and render image files as thumbnails.
//                for (var i = 0, f; f = files[i]; i++) {
//
//                    // Only process image files.
//                    if (!f.type.match('image.*')) {
//                        continue;
//                    }
//
//                    var reader = new FileReader();
//
//                    // Closure to capture the file information.
//                    reader.onload = (function(theFile) {
//                        return function(e) {
//                            // Render thumbnail.
//                            var span = document.createElement('span');
//                            span.innerHTML = ['<img class="thumb" src="', e.target.result,
//                                '" title="', escape(theFile.name), '"/>'].join('');
//                            document.getElementById('list').insertBefore(span, null);
//                        };
//                    })(f);
//
//                    // Read in the image file as a data URL.
//                    reader.readAsDataURL(f);
//                }
//
//            }
//
//
//
//            document.getElementById('images').addEventListener('change', handleFileSelect, false);

    </script>
{% endblock %}