{% extends 'Client/Layouts/layouts.twig' %}

{% block title %}Upload{% endblock %}

{% block content %}
<!-- Main Content -->
<div id="main-kerja" class="container-fluid">
    <!-- Page Content -->
    <div class="container">
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">Upload
                    <small>Barang Ditemukan</small>
                </h1>
            </div>
        </div>

        <div class="row thumbnail">
            <div id="upload-content" class="col-md-12">
                <p>&nbsp;</p>
                <div id="info-kiri" class="col-md-2">

                </div>
                <div id="upload-kanan" class="col-md-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Keterangan</h3>
                            <form action="{{ path('uploadClient') }}" method="post" name="Keterangan" id="keterangan" enctype="multipart/form-data">
                                <div class="col-xs-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Nama Depan</label>
                                            <input type="text" class="form-control" id="first-name" name="first-name" value="{{ data.firstName }}" readonly="readonly">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Email</label>
                                            <input type="email" class="form-control" id="email" name="email" value="{{ data.email }}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Facebook</label>
                                            <input type="text" class="form-control" id="facebook" name="facebook">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Nama Belakang</label>
                                            <input type="text" class="form-control" id="last-name" name="last-name" value="{% if (data.lastName is not null) %}{{ data.lastName }}{% endif %}" readonly="readonly">
                                            <p class="help-block"></p>
                                        </div>
                                    </div>
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>No Telepon</label>
                                            <input type="tel" class="form-control" id="phone" name="phone" value="{{ data.phone }}" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Pin BBM</label>
                                            <input type="text" class="form-control" id="bbm" name="bbm">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Judul</label>
                                        <input type="text" class="form-control" name="title" id="title">
                                    </div>

                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Kategori</label>
                                        <select id="category" name="category" class="form-control">
                                            {% for info in cat %}
                                                <option value="{{ info.id }}">{{ info.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label id="upload-gambar">Upload Gambar</label>

                                    </div>
                                    <div class="form-group input-container">
                                        <p class="text-danger hide">HARAP MASUKKAN GAMBAR</p>
                                        <div class="input-inner" data-property="image-upload">
                                            <img src="{{ app.request.basepath }}/assets/images/default-placeholder.png" class="img-preview">
                                            <label>
                                                <i class="fa fa-2x fa-plus"></i>
                                            <input type="file" class="hide" onchange="readThis(this)" name="images[]" id="images" required>
                                            </label>
                                        </div>
                                        <div id="add-images">
                                            <span class="btn btn-default">Tambah Gambar</span>
                                        </div>
                                    </div>

                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Alamat</label>
                                            <textarea rows="5" cols="100" class="form-control" name="address" style="resize:vertical" readonly="readonly">{{ data.address }}</textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="control-group form-group">
                                        <div class="controls">
                                            <label>Deskripsi</label>
                                            <textarea rows="8" cols="100" class="form-control" name="description" style="resize:vertical" required></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-block btn-primary pull-right" id="submit-form">Publish</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">&nbsp;</div>

                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block customJS %}
    <script>
        function readThis(input) {
            if (input.files && input.files[0]) {
                var _thumb = $(input).parent().prev();
//                if (!_thumb.length) {
//                    _thumb = $(input).parent().prev().find('img.img-responsive');
//                }
                if (_thumb.length) {
                    var reader = new FileReader();
                    var height = _thumb.attr('height') || _thumb.height();
                    reader.onload = function (e) {
                        _thumb
                                .attr('src', e.target.result)
                                .width(height)
                                .css('object-fit', 'cover')
                                .height(height)
                                .removeClass('hide')
                        ;
                        $(input).parent().addClass('hide');
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

        $(document).ready(function() {
            $('input[type=file]').val('');

//            $('#submit-form').click(function () {
//               if ($('input[type=file]').val() == "") {
//                   var cont = $('.input-container');
//                   cont.addClass('input-error');
//                   cont.find('.text-danger').toggleClass('hide');
//                   alert('FORM YANG ANDA MASUKKAN BELUM VALID');
//                   $("form").submit(function(e){
//                       e.preventDefault();
//
//                   });
//               } else {
//                   $('#submit-form').unbind('click');
//               }
//            });
        });

    </script>
{% endblock %}