{% extends 'Client/Layouts/layouts.twig' %}
{% block title %}Video{% endblock %}
{% block content %}
    <!-- Main Content -->
    <div id="main-video" class="container-fluid">
        <!-- Page Content -->
        <div class="container">
            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Video
                    <small>Komunitas Kami</small>
                    </h1>
                </div>
            </div>
            {% if (data|length > 0) %}
                {% for video in data %}
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="embed-responsive embed-responsive-4by3 embed-cus">
                                    <iframe class="embed-responsive-ite" style="max-width: 700px; max-height: 300px;" src="https://www.youtube.com/embed/{{ video.linkVideo }}"></iframe>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h3>{{ video.title }}</h3>
                                <h5><i class="fa fa-user"> {{ video.userId.firstName }}</i> - <i class="fa fa-clock-o"> {{ video.createdAt|date('d M Y') }}</i></h5>
                                <p>
                                    {{ video.description|raw }}
                                </p>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="jumbotron tdk">
                    <h4>Tidak ada video diunggah</h4>
                </div>
            {% endif %}
            <hr>
        </div>
    </div>
{% endblock %}