<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %} - FiFo</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ app.request.basepath }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{ app.request.basepath }}/assets/font-awesome-4.6.3/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href="{{ app.request.basepath }}/assets/custom.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/login/css/normalize.css">
    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/login/css/style.css">

    <link rel="stylesheet" href="{{ app.request.basepath }}/assets/css/global.css">
    <!-- jQuery -->
    <script src="{{ app.request.basepath }}/assets/js/jquery.min.js"></script>

    <!-- Add mousewheel plugin (this is optional) -->
    <script type="text/javascript"
            src="{{ app.request.basepath }}/assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script type="text/javascript"
            src="{{ app.request.basepath }}/assets/fancybox/source/jquery.fancybox.js?v=2.1.5"></script>
    <link rel="stylesheet" type="text/css"
          href="{{ app.request.basepath }}/assets/fancybox/source/jquery.fancybox.css?v=2.1.5" media="screen"/>


    <!-- Add Button helper (this is optional) -->
    <link rel="stylesheet" type="text/css"
          href="{{ app.request.basepath }}/assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5"/>
    <script type="text/javascript"
            src="{{ app.request.basepath }}/assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>

    <!-- Add Thumbnail helper (this is optional) -->
    <link rel="stylesheet" type="text/css"
          href="{{ app.request.basepath }}/assets/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7"/>
    <script type="text/javascript"
            src="{{ app.request.basepath }}/assets/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>


    <!-- Add Media helper (this is optional) -->
    <script type="text/javascript"
            src="{{ app.request.basepath }}/assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

    {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
    {#<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <ul>

            </ul>
            
            <a class="navbar-brand" href="{{ ('/') }}"><img alt="" src="{{ app.request.basepath }}/assets/images/b.jpg"
                                                                          class="img-responsive"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('homeClient') }}">Beranda</a>
                </li>
                <li>
                    <a href="{{ path('barangClient') }}">Temukan Barangmu</a>
                </li>
                    {% if (app.session.get('name') is not null) %}
                        <li>
                            <a href="{{ path('uploadClient') }}">Upload</a>
                        </li>
                    <li id="usr-nav">
                        <a href="#" data-toggle="popover" class="trigger" data-placement="bottom" title="{{ app.session.get('name')['value'] }}">
                            {% if (app.session.get('profile_picture')['value'] is not null) %}
                                <img src="{{ app.request.basepath }}/photo/profiles/{{ app.session.get('profile_picture')['value'] }}" class="user-image" alt="User Image">
                                {% else %}
                                 <img src="{{ app.request.basepath }}/assets/images/man.png" class="user-image" alt="User Image">
                            {% endif %}
                        </a>
                        <div class="content hide">
                            {% if (app.session.get('role')['value'] == 0) %}
                                <a href="{{ path('homeAdmin') }}" class="btn btn-danger">Admin</a>
                            {% endif %}
                            <a href="{{ path('profil_client') }}" class="btn btn-default">Profil</a>
                            <a href="{{ path('setting_password') }}" class="btn btn-default">Atur Password</a>
                            <a href="{{ path('logout') }}" class="btn btn-default">Keluar</a>
                        </div>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('loginClient') }}">Masuk</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
{% block content %}{% endblock %}

<footer>
    <div id="footer-atas" class="container-fluid">
        <div class="container" class="row">
            <div class="area-foo col-sm-4">
                <h4>Donasi Umum</h4>
                <p>
                    Rekening BCA a/n Robi <br/>
                    3024-2231-2312-1231-1321
                </p>
            </div>
            <div class="area-foo col-sm-4">
                <h4>Di Dukung Oleh :</h4>
                <ul class="list-unstyled">
                    <li><a href="#"><img alt="" src="{{ app.request.basepath }}/assets/images/c.jpg"></a></li>
                </ul>
            </div>
            <div class="area-foo col-sm-4">
                <h4>Social Media</h4>
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
                            <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                            <li><a href="#"><i class="fa fa-google-plus-official" aria-hidden="true"></i> Google
                                    Plus</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                            <li><a href="#"><i class="fa fa-snapchat" aria-hidden="true"></i> Snapchat</a></li>
                        </ul>
                    </div>
                </div>
                <h4>Navigation</h4>
                <div class="row">
                    <div class="col-xs-6">
                        <ul class="nagi">
                            <li><a href="{{ path('faqClient') }}">FAQ</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="nagi">
                            <li><a href="{{ path('aboutClient') }}">Tentang Kami</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-bawah" class="container-fluid">
        <div class="container" class="row">
            <div class="col-xs-12 ">
                <div class="copy">
                    <p>Copyright &copy; Bangchan</p>
                </div>

                <div class="fo-channel">
                    <button type="button" class="btn btn-danger navbar-btn navbar-right"><a href="#">YouTube</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap Core JavaScript -->
<script src="{{ app.request.basepath }}/assets/js/bootstrap.min.js"></script>
<script src="{{ app.request.basepath }}/assets/custom.js"></script>
<script src="{{ app.request.basepath }}/assets/login/js/index.js"></script>
<script src="{{ app.request.basepath }}/assets/js/global.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.fancybox').fancybox();
        $('li > .trigger').popover({
            html: true,
            content: function () {
                return $(this).parent().find('.content').html();
            }
        });
        $('a[data-toggle="popover"]').on('click', function (e) {
            e.preventDefault();
        });
    });
</script>
{% block customJS %}
{% endblock %}
</body>
</html>